<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimalTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9377289E1D4F3F6800BC6822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>937728B71D4F3F6900BC6822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>937728C21D4F3F6900BC6822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
